

<br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="text-center" >
<h1>Joan Currie</h1><br />
<h3>Software developer based in Waterloo, Ontario, Canada.</h3><br />

<br /><br />
<h3>CONTACT ME</h3><br />
<%= link_to image_tag("linkedin.png"), "https://www.linkedin.com/in/joan-currie/" %><br />
<%= link_to image_tag("email.png"), "" %><br />
<%= link_to image_tag("twitterpng.png"), "https://twitter.com/joanecurrie" %><br />



