<br /><br /><br />

<div style="text-align:center;">
  <h4>WEBSITES</h4>
  <h4 style="border-bottom: 1px solid grey;"></h4>
</div>
<table>
  <tr>
    <td style="padding: 50px;"><%= link_to image_tag("image1.png") %></td>
    <td style="padding: 50px;"><%= link_to image_tag("image2.png") %></td>
    <td style="padding: 50px;"><%= link_to image_tag("image3.png") %></td>

  </tr>
  <tr>
    <td style="padding-right: 25px; padding-left: 50px;"><a href="https://github.com/JECurrie/eventz">GITHUB</a> <a href="https://k-w-snap.herokuapp.com/">DEMO</a></td>
    <td style="padding-right: 25px; padding-left: 50px;"><a href="https://github.com/JECurrie/flixs">GITHUB</a> DEMO</td>
    <td style="padding-right: 25px; padding-left: 50px;"><a href="https://github.com/JECurrie/myozone">GITHUB</a> <a href="https://my-ozone.herokuapp.com/">DEMO</a></td>    
  </tr>
</table>
<table>
  <tr>
    <td style="padding: 50px;"><%= link_to image_tag("climate.png") %></td>

  </tr>
  <tr>
    <td style="padding-right: 25px; padding-left: 50px;"><a href="">GITHUB</a> <a href="https://climate-blog.herokuapp.com/">DEMO</a></td>
  </tr>
</table>