<br />
<br />
<br />
<br />
<%= link_to image_tag("image1.png", alt: "Rails logo"),
            'http://rubyonrails.org/' style="width:30%; padding: 8px"%>
<div class="row">
  <div class="column">
    <img src="/assets/image1.png"  alt="" style="width:30%; padding: 8px">
    <img src="/assets/image2.png" alt="" style="width:30%; padding: 8px">
    <img src="/assets/image3.png" alt="" style="width:30%; padding: 8px">
  </div>
</div>


