<br /><br /><br />

<div style="text-align:center;">
  <h4>RESUMES</h4>
  <h4 style="border-bottom: 1px solid grey;"></h4>
</div>

<%= link_to image_tag("in.png"), "https://www.linkedin.com/in/joan-currie/" %>
